@{
    ViewData["Title"] = "Home Page";
}

<div class="hero text-center text-white d-flex align-items-center">
    <div class="container">
        <h1 class="display-3 fw-bold">Azure Web Application</h1>
        <p class="lead">ASP.NET Core deployed successfully on Microsoft Azure ☁️</p>

        <a class="btn btn-light btn-lg mt-3" href="https://learn.microsoft.com/aspnet/core">
            Learn ASP.NET Core
        </a>
    </div>
</div>

<div class="container mt-5">

    <div class="card shadow-lg p-4 text-center">
        <h2 class="fw-bold mb-3">Student Information</h2>

        <p><strong>Name:</strong> Quynh Tu Pham Le</p>
        <p><strong>Course:</strong> SWE40006 Software Deployment and Evolution</p>

        <span class="badge bg-success fs-6">
            ✔ Running on Azure App Service
        </span>
    </div>

</div>
